@model IEnumerable<SistemaMedia.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Alunos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Aluno
                @*@Html.DisplayNameFor(model => model.Nome)*@
            </th>

            @*@Html.DisplayNameFor(model => model.PresencaDiaria)*@
            <th>
                Total de Presença
                @*@Html.DisplayNameFor(model => model.TotalPresenca)*@
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ReprovadoFaltas)
        </th>*@
            <th>
                Turma
                @*@Html.DisplayNameFor(model => model.Sigla)*@
            </th>
            <th>
                Turno
                @*@Html.DisplayNameFor(model => model.Turno)*@
            </th>
            <th>

                ReprovadoFaltas
            </th>
            <th>

                Total de Presença
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPresenca)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ReprovadoFaltas)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReprovadoFaltas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPresenca)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
