<<<<<<< HEAD
﻿@*@model List<Chocolate>*@
=======
﻿@model List<Chocolate>
>>>>>>> ce491ba407e67eff4fe2bfad8a89cfcae73d3436
@{
    ViewData["Title"] = "Index";
}

<h1>Chocolates Cadastrados</h1>
<<<<<<< HEAD
<a href="/Chocolates/Criar">Adicionar Chocolate</a>

@*@foreach (var item in Model)
=======
<a href="#">Adicionar Chocolate</a>

@foreach (var item in Model)
>>>>>>> ce491ba407e67eff4fe2bfad8a89cfcae73d3436
{
    <p>@item.Id</p>
    <p>@item.Tipo</p>
    <p>@item.Recheio</p>

<<<<<<< HEAD
}*@
=======
}
>>>>>>> ce491ba407e67eff4fe2bfad8a89cfcae73d3436



@*@foreach (var item in Model)
    {
        <h4>@item.Especie - @item.Cor</h4>
        <p><strong>@item.Preco</strong> @item.Descricao</p>
        <a class="btn" type="button" href="/Flores/Detalhes/@item.Id">Detalhes</a>
    }*@
